@model Falcon.Entity.Prospect.ViewProspectStudentModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViewProspectStudentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeremenantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeremenantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGrp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGrp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AadharId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AadharId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = model.Id }) |*@
    @Html.ActionLink("Back to List", "List")
</p>
